

<% form_tag ({
    controller: 'products',
    action: 'add',
    method: 'post'
    }) do %>
    
    <label>Product:</label>
    <%= text_field_tag :product %>
    <% submit_tag "add to the cart" %>
<% end %>